$shadow-color: rgba(0, 0, 0, 0.75);
$ultraviolet-1: #83008b;
$ultraviolet-2: #590098;
$ultraviolet-3: #d01d9b;
$ultraviolet-4: #461783;
$ultraviolet-5: #850050;
$name-tag-color: #e20612;
$name-tag-text-color: #000000;
$name-tag-text-background: white;
